<!DOCTYPE HTML>

<html>
	<head>
		<title>what's popping?</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href= {{ url_for('static', filename='css/main.css')}} />
		<noscript><link rel="stylesheet" href={{ url_for('static', filename='css/noscript.css')}} /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="content">
					<h1><a href="#">What's Popping?</a></h1>
					<p>A web app that recommends songs based on audio characteristics and your Spotify "Liked Songs" library.<br />
					</p>
					<ul class="actions">
						<li><a href="http://www.whatspopping.xyz/login" class="button primary icon solid">Get Songs</a></li>
						<li><a href="#one" class="button icon solid fa-chevron-down scrolly">Learn More</a></li>
					</ul>
				</div>
			</header>
		<!-- One -->
			<section id="one" class="wrapper style2 special">
			<header class="major">
				<h2>About</h2>
				<p>
					"What's Popping" uses your Spotify songs from your "Liked Songs" library and their features in order to recommend similar songs. This use of song features is one method out of many that Spotify is reported to use when recommending music. This is my attempt to recreate their recommender with my own spin and approach.
				</p>
				<h2> Why use song features? </h2>
				<p>
				Song features consist of instrumentalness, key, mode, popularity, acousticness, valence and many more. And each feature describes their respective song their own way. For example, valence measures the positiveness of a song from 0 to 1, with 1 being very positive and 0 being negative. Therefore, if a user mainly listens to low valence music, the recommender will analyze that there is a high correlation between songs listened to and low valence, and therefore predict songs with similar valence levels (if we disregard all other features).
				</p>
				<h2>Code and Documentation</h2>
				<p>
				You can find a more in-depth explanation and the code at my <a href="https://github.com/isacmlee/whats-popping" style="color:#1DB954">GitHub.</a>
				</p>
			</header>
		</section>

		<!-- Footer -->
			<footer id="footer">
				<p class="copyright">&copy; Isac L. Credits: <a href="http://html5up.net">HTML5 UP</a></p>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js')}}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js')}}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js')}}"></script>
			<script src="{{ url_for('static', filename='js/util.js')}}"></script>
			<script src="{{ url_for('static', filename='js/main.js')}}"></script>

	</body>
</html>
